body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #59fa7c, #02872a);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

h2 {
    margin-bottom: 15px;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    background: white;
    color: #02872a;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    display: none;
}
